body {
    padding-top: 20px;
    font-size: 16px; /* Migliora leggibilità su mobile */
}

/* Ottimizza card per mobile */
.card {
    transition: transform 0.2s;
    margin-bottom: 15px;
}
.card:hover {
    transform: scale(1.05);
}

/* Layout per schermi piccoli */
@media (max-width: 576px) {
    .container {
        padding: 10px;
    }
    .btn {
        width: 100%; /* Pulsanti a larghezza piena */
    }
    .btn-info {
        margin-bottom: 10px; /* Spazio tra i pulsanti */
    }
    .btn-warning {
        margin-bottom: 10px; /* Spazio tra i pulsanti */
    }
    #multiplier-container {
        width: 100% !important;
        display: flex;
        flex-wrap: nowrap;
    }
    .input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
        width: 100% !important; /* Input moltiplicatore a larghezza piena */
    }
    form .input-group { /* ricerca */
        flex-direction: row !important;
        flex-wrap: nowrap;
    }
    form .input-group input,
    form .input-group button { /* gruppo ricerca */
        flex: 1 1 auto;
        margin-bottom: 0px;
    }
    form .input-group button {
        max-width: 100px;
    }
}